body {
    margin: 0px;
    overflow:hidden;
    font-family: 'Oswald', sans-serif;
}
canvas { 
    margin: auto;
    display: block;
    overflow:hidden; 
    overflow-x: hidden;
    margin: 0px; 
    padding: 0px; 
}
.clear{
    clear: both;
}
img#imagenDead {
    position: absolute;
    top: 39%;
    left: 34%;
    z-index: 2;
}
div#content {
    position: absolute;
    width: 30em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-75%);
}
span#reconectar, span#conectando {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    position: absolute;
    color: white;
    font-size: 4em;
}
#game{
    overflow:hidden;
}
.login_input {
    width: 100%;
    height: 29px;
    border: 4px solid rgba(0, 0, 0, .06);
    color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 transparent;
    -webkit-transition: border .2s;
    transition: border .2s;
    margin-bottom: 1rem;
}
.login_form {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
}
.login_button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 39px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

span#texto {
    color: white;
    font-size: 2em;
}
span#spanError {
    color: red;
    font-size: 1.5em;
}
#element::-webkit-scrollbar { 
    display: none; 
}
input#inputText {
}
@media (max-width:800px) {
    div#content {
        width: 95%;
        transform: translate(-50%,-90%);
    }
    span#reconectar {
        left: 6%;
    }
    img#imagenDead {
        left: 4%;
    }
}
[role=button], a, button, input, label, select, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
#personajes {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    margin: 5px;
    height: 104px;
}
#personajes span {
    display: block;
    float: left;
}
#personajes span img {
    padding: 5px;
}
.selected {
    border: 3px solid rgba(255,255,255,0.5);
    border-style: dashed;
}

h4#selectAplayer {
    margin: 0 0 2px 0px;
    color: white;
}